/*
	David Anderson
*/

@import "base";
@import "responsive";


/*===========================================*/

/* !GENERAL PAGE */

/*===========================================*/

html{
	body {
		font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
}

strong{
	color: #fff;
}

a:link, a:visited,  a:active {
	text-decoration: none;
}
a:hover {}

h1, h2, h3 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.2em;
}

h1 {
	font-size: 26px;
	margin: 0px 0px 20px;
}

h2 { 
	font-size: 20px;
	line-height: 1.2em;	
}
h3 {
	font-size: 14px;
	margin: 0px 0px 14px;
}
h4 {
	font-size: 13px;
	letter-spacing: 1px;
}
p{  }

h1 a,h2 a,h3 a,h4 a{
	text-decoration: none;
}
